<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Register User</h2>
    <form method="POST" action="/user/register" th:object="${userRegistrationDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input  id="firstName" type="text" name="firstName" min="2" max="20" class="form-control"
                       placeholder="First name"
                        th:field="*{firstName}"/>
                <p class="errors alert alert-danger"
                   th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    Invalid first name.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input id="lastName" type="text" name="lastName" min="2" max="20" class="form-control"
                       placeholder="Last name"
                       th:field="*{lastName}"/>
                <p class="errors alert alert-danger"
                   th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                    Invalid last name.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input id="username" type="text" name="username" min="2" max="20" class="form-control"
                       placeholder="Username"
                       th:field="*{username}"/>
                <p class="errors alert alert-danger"
                   th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                    Invalid username.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input id="password" type="password" name="password" min="2" max="20" class="form-control"
                       placeholder="Password"/>
                <p class="errors alert alert-danger"
                   th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Invalid password.
                </p>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col col-md-4">
                <div class="button-holder d-flex  justify-content-center">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
     <footer> </footer>
</div>

</body>
</html>
